{% load static %}

<html>

<head>
  <title>MIND OVER MATTER</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
  <link rel="stylesheet" href="{% static 'blog/assets/css/main.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <style>
    #content {
      font-family: 'Roboto';
      font-size: 16px;
      background-color: rgb(22, 22, 21);

    }
  </style>
</head>

<body class="single is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header">
      <h1 style="color:blue;"><a href="{% url 'blog' %}">Back to posts!</a></h1>
      <nav class="links">
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Projects</a></li>

        </ul>
      </nav>
      <nav class="main">
        <ul>
          <li class="menu">
            <a class="fa-bars" href="#menu">Menu</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

      <!-- Search -->
      <section>
        <form class="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </section>

      <!-- Links -->
      <section>
        <ul class="links">
          <li>
            <a href="{% url 'blog' %}">
              <h3>Blog</h3>
              <p>check out my blogs</p>
            </a>
          </li>
          <li>
            <a href="{% url 'portfolio' %}">
              <h3>Portfolio</h3>
              <p>check out my portfolio</p>
            </a>
          </li>


        </ul>
      </section>

    </section>

    <div class="c-post">


      <div class="container">
        <div class="row">
          <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
              {% block content %}
              <div class="title">
                <h1>{% block title %} {{ object.title | upper }} {% endblock title %}</h1>
                <p class="text-muted">{{ post.author }} | {{ post.created_on | date }}</p>
              </div>
              <span class="image featured"><img src="{{ post.img_post.url }}" alt="" /></span>

              <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
              <p class="card-text" style="font-size: 17px;">{{ object.content | safe  }}</p>
              {% endblock content %}

            </div>
          </div>
        </div>
      </div>

    </div>





    <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
      </ul>
    </section>

  </div>

  <!-- Scripts -->
  <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'blog/assets/js/browser.min.js' %}"></script>
  <script src="{% static 'blog/assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'blog/assets/js/util.js' %}"></script>
  <script src="{% static 'blog/assets/js/main.js' %}"></script>

</body>

</html>